.el-checkbox{
	margin: 0 !important;
    &:not(.el-checkbox--small){
        .el-checkbox__input{
            .el-checkbox__inner{
                height: 20px;
                width: 20px;
                border-radius: 4px;
                &::after{
                    content: '';
                    width: 4px;
                    height: 9px;
                    border-width: 1px;
                    top: 2px;
					left: 6px;
                }
            }
        }
    }
	&.el-checkbox--small{
		.el-checkbox__input {
			.el-checkbox__inner {
				height: 16px !important;
				width: 16px !important;
				&::after{
                    content: '';
                    width: 2px;
                    height: 7px;
                    border-width: 1px;
                    top: 2px;
					left: 5px;
                }
			}
		}
	}
    &.is-checked{
        .el-checkbox__input{
            .el-checkbox__inner{
                background-color: rgb(var(--xx-color-green-semantic-600));
				border-color: rgb(var(--xx-color-green-semantic-600));
				&::after{
					border-color: rgb(var(--xx-color-white-50));
					border-width: 2px;
				}
				&:hover{
					border: 1px solid transparent;
					outline: none;
				}
            }
        }
    }
    .el-checkbox__inner{
        border: 1px solid rgb(var(--xx-color-white-700));
		transition: all ease-in-out;
		background-color: rgb(var(--xx-color-white-50));
        &:hover{
            border: 1px solid rgb(var(--xx-color-blue-semantic-700));
			outline: 2px solid rgb(var(--xx-color-blue-semantic-100));
        }
    }
	.is-indeterminate{
		.el-checkbox__inner{
			background-color: rgb(var(--xx-checkbox-vector-true-default)) !important;
			border: 2px solid rgb(var(--xx-checkbox-vector-true-default)) !important;
			&::before{
				content: '';
				height: 3px !important;
				transform: scale(0.8) !important;
			}
			&:hover{
				box-shadow: 0 0 0 2px rgb(var(--xx-checkbox-background-hover) / 0.1);
				background-color: rgb(var(--xx-checkbox-background-hover) / 0.1);
			}
		}
	}
    &.is-disabled{
        .el-checkbox__inner{
            border: 1px solid rgb(var(--xx-color-gray-200)) !important;
			background-color: rgb(var(--xx-color-gray-50)) !important;
			&:hover{
				border: 1px solid transparent;
				outline: none;
			}
        }
        &.is-checked{
            .el-checkbox__inner{
                border: 1px solid rgb(var(--xx-color-white-500)) !important;
				background-color: rgb(var(--xx-color-white-500)) !important;
                &::after{
                    content: '';
                    border-color: rgb(var(--xx-color-gray-400)) !important;
					top: 1px;
					left: 5px;

                }
            }
        }
    }
}

.check-selected {
	&.is-selected {
		.el-checkbox {
			.el-checkbox__input{
				.el-checkbox__inner{
					background-color: rgb(var(--xx-checkbox-vector-true-default));
					border-color: rgb(var(--xx-checkbox-border-vector-true-default));
					&::after{
						content: '';
						width: 4px;
						height: 9px;
						border-width: 1px;
						top: 1px;
						left: 6px;
						border-color: rgb(var(--xx-checkbox-vector-selected)) !important;
						transform: rotate(45deg) scaleY(1);
					}
				}
			}
		}
	}
	.el-checkbox__inner {
		&::after{
			content: '';
			width: 5px;
			height: 10px;
			border-width: 2px;
			top: -1px;
			border-color: transparent !important;
			transform: rotate(45deg) scaleY(1);
		}
	}
}

.disabled-active {
	&.is-disabled {
		cursor: pointer !important;
	}
	.el-checkbox__input {
		.el-checkbox__inner {
			cursor: pointer !important;
			border: 1px solid rgb(var(--xx-checkbox-vector-false-default));
			transition: all ease-in-out;
			background-color: transparent;
			&:hover{
				border: 1px solid rgb(var(--xx-checkbox-vector-false-hover));
				box-shadow: 0 0 0 2px rgb(var(--xx-checkbox-background-shadow) / 0.1);
				background-color: rgb(var(--xx-checkbox-background-hover) / 0.1);
			}
			&::after {
				cursor: pointer !important;
			}
		}
	}
}

