
.icon-lock:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-call-slash:before { content: '\e803'; } /* '' */
.icon-user-remove:before { content: '\e804'; } /* '' */
.icon-user-cirlce-add:before { content: '\e805'; } /* '' */
.icon-setting-2:before { content: '\e806'; } /* '' */
.icon-search-favorite:before { content: '\e807'; } /* '' */
.icon-book:before { content: '\e808'; } /* '' */
.icon-category:before { content: '\e809'; } /* '' */
.icon-sun:before { content: '\e80a'; } /* '' */
.icon-moon:before { content: '\e80b'; } /* '' */
.icon-arrow-outline-left:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-arrow-right:before { content: '\e80e'; } /* '' */
.icon-arrow-down:before { content: '\e80f'; } /* '' */
.icon-arrow-up:before { content: '\e810'; } /* '' */
.icon-close:before { content: '\e811'; } /* '' */
.icon-document-download:before { content: '\e812'; } /* '' */
.icon-document-upload:before { content: '\e813'; } /* '' */
.icon-arrow-left:before { content: '\e814'; } /* '' */
.icon-mouse:before { content: '\e815'; } /* '' */
.icon-eye-fill:before { content: '\e816'; } /* '' */
.icon-message-notif:before { content: '\e817'; } /* '' */
.icon-money-send:before { content: '\e818'; } /* '' */
.icon-calendar:before { content: '\e81a'; } /* '' */
.icon-info-circle:before { content: '\e81b'; } /* '' */
.icon-document-text:before { content: '\e81c'; } /* '' */
.icon-messages:before { content: '\e81d'; } /* '' */
.icon-setting-3:before { content: '\e81e'; } /* '' */
.icon-add-circle:before { content: '\e81f'; } /* '' */
.icon-flag-2:before { content: '\e820'; } /* '' */
.icon-message:before { content: '\e821'; } /* '' */
.icon-send:before { content: '\e822'; } /* '' */
.icon-link:before { content: '\e823'; } /* '' */
.icon-more-vert:before { content: '\e824'; } /* '' */
.icon-trash:before { content: '\e825'; } /* '' */
.icon-edit-2:before { content: '\e826'; } /* '' */
.icon-colorfilter:before { content: '\e829'; } /* '' */
.icon-dollar-circle:before { content: '\e82a'; } /* '' */
.icon-magic-star:before { content: '\e82b'; } /* '' */
.icon-buildings-2:before { content: '\e82d'; } /* '' */
.icon-profile-2user:before { content: '\e82e'; } /* '' */
.icon-house-2:before { content: '\e82f'; } /* '' */
.icon-calendar-fill:before { content: '\e830'; } /* '' */
.icon-user-outline:before { content: '\e831'; } /* '' */
.icon-message-remove:before { content: '\e833'; } /* '' */
.icon-shopping-bag:before { content: '\e834'; } /* '' */
.icon-message-favorite:before { content: '\e835'; } /* '' */
.icon-cup:before { content: '\e836'; } /* '' */
.icon-mouse-fill:before { content: '\e837'; } /* '' */
.icon-chart:before { content: '\e838'; } /* '' */
.icon-user-tag:before { content: '\e839'; } /* '' */
.icon-building-3:before { content: '\e83a'; } /* '' */
.icon-status-up:before { content: '\e83b'; } /* '' */
.icon-user-add:before { content: '\e83c'; } /* '' */
.icon-arrow-up-box:before { content: '\e841'; } /* '' */
.icon-calendar-tick:before { content: '\e842'; } /* '' */
.icon-arrow-outline-down:before { content: '\e843'; } /* '' */
.icon-arrow-outline-right:before { content: '\e844'; } /* '' */
.icon-arrow-outline-up:before { content: '\e845'; } /* '' */
.icon-close-circle:before { content: '\e846'; } /* '' */
.icon-clock:before { content: '\e847'; } /* '' */
.icon-timer:before { content: '\e848'; } /* '' */
.icon-check:before { content: '\e870'; } /* '' */
.icon-open-in-new:before { content: '\e871'; } /* '' */
.icon-call-outgoing:before { content: '\e872'; } /* '' */
.icon-call:before { content: '\e873'; } /* '' */
.icon-messages-2:before { content: '\e87b'; } /* '' */
.icon-add:before { content: '\e87e'; } /* '' */
.icon-setting-4:before { content: '\e881'; } /* '' */
.icon-building-4:before { content: '\e888'; } /* '' */
.icon-user-square:before { content: '\e88a'; } /* '' */
